<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.somethingsomething.kingcolt.morphingassignment" >
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- @string/app_name for the appname -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/tb_icon"
        android:label="Picture Morpher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>